@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");
// import icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/*-- scss:defaults --*/

$font-family-sans-serif: "Noto Sans Display", sans-serif !default;
$font-family-monospace: "JetBrains Mono", monospace !default;
$presentation-heading-font: "Noto Sans Display", sans-serif !default;
//$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: 400;
//$presentation-heading-line-height: 2;
//$presentation-block-margin: 28px;
$presentation-font-size-root: 28px;
//$presentation-font-size-root: 22px;
//$code-color: get-color("pink", 900);
$text-font-weight: 300;




/*-- scss:rules --*/

// Spacing around images
.quarto-figure {
  margin-bottom: 0px;
  /* margin-bottom: 40px; */
}


// Set font weight
.reveal p {
  font-weight: $text-font-weight;
  margin-top: 0.75em;
}

.reveal strong {
  font-weight: 500;
}

.reveal h2 {
  margin-bottom: 0.75em;
}

.reveal ul {
  font-weight: $text-font-weight;
  /* padding-left: 4px; */

  li::marker {
    color: #283593;
  }
}

.reveal ul ul {
  list-style: none;
  li {
    padding-left: 0.75em;
  }
  li::marker {
    content: "▹";
    color: #283593;
  }
}

// Some colors
.color-text-muted {
  color: $text-muted;
}

.green {
  color: #388E3C;
}

.red {
  color: #E53935;
}

// Code blocks
.sourceCode {
  font-size: 1.2em;
  line-height: 1.4em;
}

// Center figure captions
figcaption {
   text-align: center;
}

// Title slide
#title-slide {

  color: #00335e;
  
  .title {
    background: -webkit-linear-gradient(left, #1c8ece, #00335e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.1em;
   }

  .subtitle {
    margin-top: 1em;
    font-weight: 400;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      margin-top: 2em;
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
      font-weight: 300;
    }
  }
 
}

/* $frame-scale: 0.75; */
$frame-scale: 0.6;
.frame {
    width: 1280px;
    height: 800px;
    border: 0;
    -ms-transform: scale($frame-scale);
    -moz-transform: scale($frame-scale);
    -o-transform: scale($frame-scale);
    -webkit-transform: scale($frame-scale);
    transform: scale($frame-scale);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.reveal table {
  // height: auto; /* Adjust table width to fit content up to the available slide space */
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}

.reveal table th,
.reveal table td {
  border: none; /* Remove internal row lines */
  padding: .23em; /* Adjust padding as needed */
  text-align: left; /* Adjust text alignment as needed */
  font-weight: 300;
}

.rotate {
  animation: loading 60s linear infinite;
  @keyframes loading {
    0% { 
      transform: rotate(0); 
    }
    100% { 
      transform: rotate(360deg);
    }
  }
}

// Drop shadow frame for images
.img-shadow {
    border: 1px solid get-color('grey');
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
